.products {
  font-size: 16px;
  width: 64%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  li {
    height: 104px;
    // border: 1px solid #ffffff40;
    list-style: none;
    color: #ffffff;
    display: flex;

    img {
      margin-right: 15px;
    }

    .ethIcon {
      position: relative;
      bottom: -2px;
    }

    .container {
      width: 100%;
      margin-right: 10px;
      .title {
        height: 44px;
        font-size: 24px;
        display: flex;
        align-items: center;
      }

      .footer {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          color: #67c6d5;
        }
      }
    }
  }
}
