.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    width: 133px;
    height: 66px;
    font-size: 30px;
    line-height: 66px;
    color: #00e3f5;
  }

  .description {
    width: 803px;
    height: 120px;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
    text-align: center;
  }

  .others {
    height: 27px;
    line-height: 27px;
    color: #ffffff;
    margin-bottom: 56px;
    span {
      color: #67c6d5;
    }
  }
  input {
    width: 684px;
    height: 40px;
    color: #ffffff;
    font-size: 24px;
    padding-left: 55px;
    margin-top: 38px;
    background: #1b1c2d;
    background-image: url('../../public/svg/search.svg');
    background-repeat: no-repeat;
    background-position: 24px 8px;
    background-size: 24px;
    border: 0;
    border-radius: 10px;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #ffffff66;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #ffffff66;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: #ffffff66;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #ffffff66;
    }
  }
}
