@import 'mixins.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 30px;
    line-height: 66px;
    text-align: center;

    color: #ffffff;
  }

  .wallet {
    @include headWallet;
  }

  // .wallet {
  //   min-width: 362px;
  //   height: 32px;
  //   font-size: 20px;
  //   margin-bottom: 16px;
  //   background-color: #1b1c2d;
  //   color: #ffffff99;
  //   padding: 0 24px;
  //   line-height: 32px;
  // }
}
