.header {
  display: flex;

  .logo {
    width: 69px;
    height: 69px;
    margin-left: 63px;
    margin-top: 26px;
    background: url(../../../public/image/ezSwapLogo.png) no-repeat center;
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    input {
      width: 211px;
      height: 39px;
      color: white;
      background: #70717d url(../../../public/svg/search.svg) no-repeat 16px /20px;
      border-radius: 10px;
      border: none;
      margin-right: 12px;
      padding-left: 40px;
      font-size: 20px;
    }

    .myPoolsButton {
      width: 89px;
      height: 31px;
      margin-right: 16px;

      background: rgba(255, 255, 255, 0.1);
      border-color: #ffffff1a;
      border: 0;
      border-radius: 5px;

      font-weight: 500;
      font-style: normal;
      color: #ffffff;
    }

    .connectButton {
      width: 132px;
      height: 31px;
      background: #01e4f74d;
      border: 1px solid #01e4f7;
      border-radius: 5px;
      margin-right: 200px;

      font-weight: 500;
      font-style: normal;
      color: #ffffff;
    }

    .switch {
      margin-right: 11px;
    }
  }
}
